.header{
    background-image: linear-gradient(to top right, black, rgb(97, 97, 97));
}

.subtitle{
    font-style: italic;
}

.title{
    text-decoration: none;
}

.links *{
    text-decoration: none;
    color:white;
}